/* INDEX PAGE */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: local('Jura Regular'), local('Jura-Regular'), url(https://fonts.gstatic.com/s/jura/v9/z7NbdRfiaC4VXcRJUQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 {
	font-weight: 100; 
	letter-spacing:1.5px;
}	

a:hover {
	text-decoration: none;
	color: black;
}

body {
	font-family: "jura";
	width: 55%;
	margin: auto;
}

h5 {
	font-family: 'Jura'; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100; 
	letter-spacing:1.5px;
	font-size: 9.5pt;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animated {
	-webkit-animation:fadeIn 1.85s;
}

@media only screen and (max-width: 399px) {

h1 {
	font-weight: 100; 
	line-height: 48px; 
	letter-spacing: 1.5px;
	font-size: 34pt;
	text-align: center;
}

.C1 {
	color: grey;
}

.C2 {
	color: black;
	font-weight: bold;
}

a:hover {
	color: black;
}

.menu {
	margin-bottom: -18px;
}

.drop {
	text-align: center;
		padding-top: 25px;
}

.switcher {
	display: none;
}

.header {
	margin-top: 40px;
	border-bottom: 1px solid;
}

body {
	width: 100%;
}

td.Q {
	display: none;
}

.dropdown {

}

.C3, .link {
	display: none;
}

h2 {
	padding-top: 20px;
	text-align: center;
}


p::first-letter {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

nav {
	margin: auto;
}

.menu {
	margin-bottom: -18px;
}

.header {
	margin-top: 40px;
	border-bottom: 1px solid;
}

.copy {
	padding-top: 81px;
	text-align: center;
}


.image {
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    padding: 90px;
}

.none {
	display: none;
}

#compo {
	display: none;
}

#croq {
	background-size: 60% auto;
}

#corbu { 
	background-size: 60% auto;
}

.miesphone {
	background-position: center;
	background-size: 35% auto;
	background-repeat: no-repeat;
}
.sem {
	margin-top: -5px;
	margin-bottom: 10px;
}

.C3 {
	width: 100%
}

.switcher {
	text-align: center;
	margin: auto;
	padding-top: 15px;
}

table {
	margin: auto;
}


td {
	padding: 30px;
}

.link {
	background-repeat: no-repeat;
    background-size: 40% auto;
}

.phone {
	text-align: center;
	margin: auto;
}	

}

@media only screen and (min-width: 400px) and (max-width:479px) {
body {
	width: 100%;
}

td.Q {
	display: none;
}

.dropdown {
	display: none;
}

.C3, .link {
	display: none;
}

h2 {
	padding-top: 20px;
	text-align: center;
}

h1 {
	font-weight: 100; 
	line-height: 48px; 
	letter-spacing: 1.5px;
	font-size: 34pt;
	text-align: center;
}


.C1 {
		text-decoration: none;
	font-size: 15px;
	color: grey;
}

.C2 {
		text-decoration: none;
	font-size: 15px;
	color: black;
	font-weight: bold;
}

a:hover {
	color: black;
}

p::first-letter {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

nav {
	margin: auto;
}

.menu {
	margin-bottom: -15px;
}

.header {
	margin-top: 40px;
	border-bottom: 1px solid;
}

.copy {
	padding-top: 81px;
	text-align: center;
}


.image {
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    padding: 90px;
}

.none {
	display: none;
}

#compo {
	display: none;
}

#croq {
	background-size: 50% auto;
}

#corbu { 
	background-size: 50% auto;
}

.miesphone {
	background-position: center;
	background-size: 25% auto;
	background-repeat: no-repeat;
}
.sem {
	margin-top: -5px;
	margin-bottom: 10px;
}

.C3 {
	width: 100%
}

.switcher {
	text-align: center;
	margin: auto;
	padding-top: 15px;
}

table {
	margin: auto;
}


td {
	padding: 30px;
}

.link {
	background-repeat: no-repeat;
    background-size: 40% auto;
}

.phone {
	text-align: center;
	margin: auto;
}	
}

@media only screen and (min-width:480px) and (max-width:959px) {
body {
	width: 100%;
}

td.Q {
	display: none;
}

.dropdown {
	display: none;
}

.C3, .link {
	display: none;
}

h2 {
	padding-top: 20px;
	text-align: center;
}

h1 {
		line-height: 11px;
		font-size: 34pt;
		text-align: center;
	}

.C1 {
	text-decoration: none;
	font-size: 15px;
	color: grey;
}

.C2 {
	text-decoration: none;
	font-size: 15px;
	color: black;
	font-weight: bold;
}

a:hover {
	color: black;
}

p::first-letter {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

nav {
	margin: auto;
}

.menu {
	margin-bottom: -15px;
}

.header {
	margin-top: 40px;
	border-bottom: 1px solid;
}

.copy {
	padding-top: 81px;
	text-align: center;
}


.image {
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    padding: 90px;
}

.none {
	display: none;
}

#compo {
	display: none;
}

#croq {
	background-size: 50% auto;
}

#corbu { 
	background-size: 50% auto;
}

.miesphone {
	background-position: center;
	background-size: 25% auto;
	background-repeat: no-repeat;
}
.sem {
	margin-top: -5px;
	margin-bottom: 10px;
}

.C3 {
	width: 100%
}

.switcher {
	text-align: center;
	margin: auto;
	padding-top: 15px;
}

table {
	margin: auto;
}


td {
	padding: 20px;
}

.link {
	background-repeat: no-repeat;
    background-size: 40% auto;
}

.phone {
	text-align: center;
	margin: auto;
}

}


@media only screen and (min-width:960px) and (max-width:1280px) {

td.Q {
	display: none;
}

.dropdown {
	display: none;
}

.C3, .link {
	display: none;
}

h2 {
	padding-top: 20px;
	text-align: center;
}

h1 {
		line-height: 11px;
		font-size: 34pt;
		text-align: center;
	}

.C1 {
	text-decoration: none;
	font-size: 15px;
	color: grey;
}

.C2 {
	text-decoration: none;
	font-size: 15px;
	color: black;
	font-weight: bold;
}

a:hover {
	color: black;
}

p::first-letter {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

nav {
	margin: auto;
}

.menu {
	margin-bottom: -15px;
}

.header {
	margin-top: 40px;
	border-bottom: 1px solid;
}

.copy {
	padding-top: 81px;
	text-align: center;
}


.image {
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    padding: 90px;
}

.none {
	display: none;
}

#compo {
	display: none;
}

#croq {
	background-size: 50% auto;
}

#corbu { 
	background-size: 50% auto;
}

.miesphone {
	background-position: center;
	background-size: 25% auto;
	background-repeat: no-repeat;
}
.sem {
	margin-top: -5px;
	margin-bottom: 10px;
}

.C3 {
	width: 100%
}

.switcher {
	text-align: center;
	margin: auto;
	padding-top: 15px;
}

table {
	margin: auto;
}


td {
	padding: 20px;
}

.link {
	background-repeat: no-repeat;
    background-size: 40% auto;
}

.phone {
	text-align: center;
	margin: auto;
}

}


@media only screen and (min-width: 1281px) {


h1 {
	line-height: 11px; 
	text-align: right;
	font-size: 34pt;
}

h2 {
	text-align: left;
}

#phone {
	display: none;
}

.phone {
	display: none;
}

.dropdown {
	display: none;
}

#block {
	position: relative; 
	padding-top: 20px;
}

p{
	text-align: left;
	font-size: 0.9vw;
	letter-spacing: 2.5px; 
}

.C1 {
	text-decoration: none;
	font-size: 15px;
	color: grey;
}

.C2 {
	text-decoration: none;
	font-size: 15px;
	color: black;
	font-weight: bold;
}

a:hover {
	color: black;
}

p::first-letter {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

nav {
	margin: auto;
}

.menu {
	margin-bottom: -6px;
}
.header {
	margin: auto;
	margin-top: 80px;
	border-bottom: 1px solid;
}

.copy {
	margin-top: -4px;
	text-align: center;
}


.image {
	background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: center;
    padding: 90px;
}

#mies{

}

#compo {
	background-size: 90% auto;
	padding: 60px;
}

#croq {
}

#corbu { 
}

.sem {
	margin-top: -5px;
	margin-bottom: 10px;
}
.C3 {
	width: 100%
}

table {
	width: 100%;
	margin: auto;
}

tr {
	height: 35px;
}

td {
	padding: 15px;
}

td:last-child {
	position: relative;
	bottom: 5px;
	width: 100%;
	text-align: right;
}

.link {
	background-repeat: no-repeat;
    background-size: 40% auto;
	background-position: center;
}




}